body{
    max-width: 1024px;
    margin: 0 auto;
    font-family: Lato, sans-serif;
    padding: 0;
}

.clearfix{
    content: '';
    display: table;
    width: 100%;
    clear: both;
}


header{
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
}

.logo{
    display: flex;

}

.logo > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo >div span{
    padding-left: 15px;
    color: #444;
}

.logo >div span:first-child{
    font-size: 20px;
    font-weight: 700;
}

.logo >div span:last-child{
    font-size: 14px;
    font-weight: 400;
}

.menu a{
    font-size: 14px;
    color: #444;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
}

.menu a:hover{
    background: #1bbc9b;
    color: #fff;
}

#home{
    height: 450px;
    background: url("../img/header.jpg") no-repeat;
    background-size: cover;
}

.homing{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.homing >h1{
    font-size: 55px;
    color: #fff;
    font-weight: lighter;
    margin: 0;
    padding: 80px 0 40px 0;

}

.homing >h1 span{
    font-weight: bold;
}

.homing >p {
    width: 60%;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 0;
    padding-bottom: 50px;
    font-weight: lighter;
}

.button_1{
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #1bbc9b;
    padding: 15px;
    margin-bottom: 50px;
}

.st{
    background: #fff;
    padding: 5px;
    border-radius: 50%;
}

#portfolio{
    padding: 50px 0 35px 0;
}

.titles{
    color: #444;
    text-align: center;

}

.titles >h2{
    font-size: 22px;
    margin: 0;
    padding-bottom: 10px;
}

.titles >p{
    font-size: 12px;
    margin: 0;
    padding-bottom: 35px;
}

.menu_portfolio{
    text-align: center;
    padding-bottom: 50px;
}

.menu_portfolio >a{
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background: #1bbc9b;
    padding: 12px 15px;
    margin: 0 5px;
}

.menu_portfolio >a:hover{
    background: #16a086;
}

.img_portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.img_portfolio  div{
    display: flex;
    margin-bottom: 25px;
    width: 170px;

    padding: 0 30px;
}

#about_us{
    padding: 50px 0 75px 0;
    background: #16a086;
}

.colors{
    color: white;
}

.text_people{
   color: #444;
    background: #fff;
    padding: 20px 10px;
    width: 200px;
    margin: 0;
}

.people_name{
    font-size: 18px;
    text-align: center;
    margin: 0;

}

.people_job{
    font-size: 14px;
    text-align: center;
    font-style: italic;
    margin: 0;
    padding: 10px 0 20px 0;
}

.people_say{
    font-size: 15px;
    margin: 0;
}

.people_img{
    height: 228px;
}

.about_peoples{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 100px;
}


.icons{
    display: none;
}

.fab{
    font-size: 25px;
    color: white;

}

.people_img{
    position: relative;
}

.people_img:hover .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    margin: 0 auto;
    padding: 10px 15px;
    background-color: rgba(22, 160, 134, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(20px, 120px);
}

#contact_us{
    background: #ecf0f1;
    padding: 55px 0 60px 0;
}

.contact_info{
    padding-left: 40px;
}

.name{
    width: 196px;
    margin-right: 10px;
}

.email{
    width: 196px;
}

.massage{
    display: block;
    width: 435px;
    height: 120px;
    margin-top: 15px;
}

.form{display: flex}

.submit{
    font-size: 14px;
    color: white;
    background: #1bbc9b;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 30px;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 20px 0 20px 350px;
}

.setform{
    outline: none;
    font-size: 15px;
    font-style: italic;
    color: #444;
    padding: 15px 12px;
    border: 2px solid #bec3c7;
    resize: none;
}

.contact{
    font-size: 14px;
    color: #444;
    padding-left: 20px;
}

.pp1{
    padding-bottom: 25px;
    margin: 0;
}

.pp2{
    padding-bottom: 15px;
    margin: 0;
}

.contact div{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-right: 2px;
}

.contact > div > div p{
    width: 210px;
}

.contact_info{
    display: flex;
    justify-content: flex-start;
}

#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background: #2d3e50;

}

footer p{
    color: white;
    font-size: 14px;
}

.up{
   width: 30px;
    height: 30px;
    background: #1bbc9b;
}




